<p style="font-weight: bold; font-size: large; text-align: center;">ברוכים הבאים ל-stocktaking</p>
<p style="font-weight: bold; font-size: smaller; text-align: center;">גירסה 0.0</p>
<div class="d-grid gap-2 col-6 mx-auto" style="font-weight: bold;">
    <a  href="/scan" ><button class="btn btn-outline-primary" type="button">סרוק מוצר<span style="float: left;"><i class="bi bi-upc-scan"></i></span></button></a>
    <a  href="/list" ><button class="btn btn-outline-primary" type="button">רשימת מוצרים <span style="float: left;"><i class="bi bi-list-ol"></i></span></button></a>
    <a  href="/new" ><button class="btn btn-outline-primary" type="button">מוצר חדש <span style="float: left;"><i class="bi bi-plus-square"></i></span></button></a>
    <a  href="/settings" ><button class="btn btn-outline-primary" type="button">הגדרות <span style="float: left;"><i class="bi bi-gear"></i></span></button></a>
</div>