h1{
    font-weight: bold;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    
}

form{
    display:block;
    margin: auto auto;
    width: 90%;
}

button{
    font-weight:bolder;
    display: inline-block;
    width: 100%;
    height: 11vh;
   
}